.about {
  background: #2B2F60;
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 0;
  height: auto;
  max-width: 100vw !important;
  justify-content: space-around;
  position: relative;
}

.aboutLeft {
  width: 45vw;
  display: flex;
  justify-content: center;
}

.aboutLeftImg {
  position: absolute;
  max-width: 35vw;
  height: auto;
  z-index: 2;
  top: -12%;
}

@media (max-width: 1300px) {
  .aboutLeftImg {
    top: -1vw;
  }
}

@media (max-width: 1250px) {
  .aboutLeftImg {
    top: -3vw;
    max-width: 45vw;
  }
}

.aboutRight {
  border-left: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55vw;
  padding-left: 60px;
  padding-right: 5%;

  h3.sectionTitle {
    text-align: left;
  }
}

.aboutRightTitle {
  font-weight: 700;
  font-size: 64px;
  padding-bottom: 75px;
  font-style: italic;
}

h4 {
  font-size: 32px;
  color: #06D7B2 !important;
  padding-top: 5px;
  padding-bottom: 25px;
}

.subtitle {
  font-weight: 600;
}

.aboutRightText {
  padding-bottom: 75px;
}

.aboutRightSocials {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
  margin-top: 30px;;
}

.socialIcon {
  width: 2vw;
  height: auto;

  &:hover {
    filter: invert(40%) !important;
  }
}

.socialIconDisable {
  opacity: 0.5;
  cursor: unset !important;

  .socialIcon {
    width: 2vw;
    height: auto;

    &:hover {
      filter: invert(0%) !important;
    }
  }

}

///Background Assets

.dotPatternAbout {
  position: relative;
  max-width: 30vw;
  height: auto;
  left: 0%;
  top: 15%;
  z-index: 1;
}

.dotPatternPartner2 {
  position: absolute;
  width: 5vw;
  height: auto;
  left: 13%;
  top: 60%;
  z-index: 1;
}

.dotPatternPartner3 {
  position: absolute;
  width: 5vw;
  height: auto;
  left: 38%;
  top: 30%;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .aboutLeftImg {
    margin-top: 5vw;
  }
}

@media only screen and (max-width: 850px) {
  .aboutLeftImg {
    margin-top: 15vw;
  }
}

@media only screen and (max-width: 750px) {
  .aboutLeftImg {
    margin-top: 20vw;
  }
}

@media only screen and (max-width: 650px) {
  .aboutLeftImg {
    margin-top: 30vw;
  }
}

@media only screen and (max-width: 600px) {
  .aboutRight {
    border: none;
    width: auto;
    padding: 10px;
    padding-bottom: 50px;
    align-items: center;
    text-align: center;

    h3 {
      text-align: center;
    }
  }

  .aboutRightText {
    padding: 0;
    text-align: center;
  }

  .about {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .aboutRightSocials {
    width: 40%;
  }

  .socialIcon {
    width: 10vw;
  }

  .socialIconDisable {
    .socialIcon {
      width: 10vw;
    }

  }

  .aboutRightTitle {
    text-align: center;
    padding-bottom: 10px;
    font-size: 38px;
  }

  .aboutRightSubtitle {
    text-align: center;
  }

  .aboutLeftImg {
    width: 75vw;
    max-width: 100vw;
    margin-top: 20px;
  }

  .aboutLeft {
    padding-bottom: 10px;
  }

  .dotPatternAbout {
    max-width: 80vw;
    top: 8%;
  }
}