// --------------ALPHA----------------
.alphaContainer {
  max-width: 100vw !important;
  height: auto;
  background: radial-gradient(
    98.95% 150.94% at 51.44% 50%,
    #32435c 0%,
    #111822 100%
  );
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGeneralSignup {
  border-radius: 0 !important;
  height: 4vh;
}

.alphaAssets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 !important;
  margin: 0 !important;
  max-width: 30vw !important;
}

.alphaText {
  color: white;
  font-weight: bolder !important;
  font-style: italic;
  font-size: 48px;
}

.alphaDescription {
  color: white;
  font-size: 18px;
}

.emailEntry {
  height: 4vh;
  width: 25vw;
  background-color: #202f3f;
  border: 10px solid #202f3f;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.emailContainer {
  display: flex;
  align-items: center;
}

.formSubmit {
  padding: 1.2vh;
}

@media only screen and (max-width: 600px) {
  .alphaContainer {
    flex-direction: column;
  }

  .alphaAssets {
    max-width: 100% !important;
  }

  .emailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;
  }

  .emailEntry {
    width: 100%;
    height: auto;
  }

  .buttonGeneralSignup {
    height: auto;
  }
}
