@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

// --------------GLOBAL----------------
// change the theme
$theme-colors: (
  "primary": #202f3f,
);

html * {
  font-family: "Poppins";
  color: white;
}

h2.sectionTitle {
  font-size: 64px;
  line-height: 1.2em;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

h3.sectionTitle {
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5em;
}


// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";