@import url('https://fonts.googleapis.com/css?family=Poppins');

// --------------GLOBAL----------------
// change the theme
$theme-colors: (
  "primary": #202f3f,
);

html *{
  font-family: 'Poppins';
  color: white;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


// --------------NAV----------------

.nav-link{
  font-family: 'Poppins';
  color: white !important;
  font-weight: 600 !important;
}

.linkLight{
  color: #5fa8ff;
  margin: 0;
}

.nav-link:hover{
  color: #5fa8ff !important;
}

.draftablesLogo{
  margin-right: 100px;
}

.navbar-nav{
  align-items: center;

}

// --------------HERO----------------

.heroContainer {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/landing_section/landing_section_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw !important;
  height: 100vh !important;
  background-color: #202f3f;
}

.draftablesRulerLeft{
  height: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  object-fit: cover;
  overflow: hidden;
  float: left;
}

.draftablesRulerRight{
  height: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  object-fit: cover;
  overflow: hidden;
  float: right;  
}

.landingAssets{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75vh;
  max-width: 100vw;
}

.landingLogo{
  width: 33vw;
  height: auto;
  z-index: 2;
}

.landingSlogan{
  width: 30vw;
  height: auto;
}

.landingButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonText{
  color: white !important;
  font-weight: 500 !important;
  font-style: italic;
  font-size: 27px;
  padding-bottom: 10px;
}

.buttonAlpha{
  background-image: linear-gradient(to right, #5FA8FF, #CC00FF) !important;
  font-weight: 600 !important;
  font-size: 21px;
  border: 0;
  transition: transform .2s;
  width: 10vw;
  height: 50px;
  border-radius: 5px;
}

.buttonAlpha:hover{
  transform: scale(1.15);
}

.dotPatternLogo{
  position: absolute;
  width: 30%;
  height: auto;
  left: 56%;
  z-index: 1;
}

.dotPatternSlogan{
  position: absolute;
  width: 5%;
  height: auto;
  left: 13%;
  padding-top: 15%;
  z-index: 1;
}

.dotPatternSlogan2{
  position: absolute;
  width: 5%;
  height: auto;
  left: 37%;
  padding-bottom: 15%;
  z-index: 1;
}
// --------------ALPHA----------------
.alphaContainer{
  max-width: 100vw !important;
  height: 20vh !important;
  background-color: #202f3f;
  display: flex;
  align-items: center;
}

.alphaText{
  color: white;
  font-weight: bolder !important;
  font-style: italic;
  font-size: 48px;
}

.alphaDescription{
  color: white;
  font-size: 18px;
}

.alphaAssets{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.alphaFormField{
  height: 50px;
  width: 25vw;
  background-color: #304059;
  border: 0;
  border-radius: 5px;
}


// --------------WHAT IS----------------

.whatIsContainer{
  padding-top: 5vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/ownyourteam/bg_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw !important;
  height: 100vh !important;
  background-color: #202f3f;
}

.ownYourTeam{
  color: white !important;
  font-weight: 600 !important;
  font-size: 64px;
  display: flex;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: italic;
  word-spacing: 20px;
}

.whatIsAssets{
  display: flex;
  justify-content: center;
}

.whatIsInnerContainer{
  display: flex;
  flex-direction: column;
}

.whatIsImage{
  width: 22vw;
  height: auto;
  padding: 2vw;
}

.whatIsImageMain{
  width: 25vw;
  border:5px solid #CC00FF;
  height: auto;
}

.dotPatternWhatIs{
  position: absolute;
  width: 5%;
  height: auto;
  left: 13%;
  padding-top: 15%;
  z-index: 1;
}

.dotPatternWhatIs2{
  position: absolute;
  width: 5%;
  height: auto;
  left: 37%;
  padding-bottom: 15%;
  z-index: 1;
}

.dotPatternWhatIs3{
  position: absolute;
  width: 5%;
  height: auto;
  left: 37%;
  padding-bottom: 15%;
  z-index: 1;
}

// --------------Partners----------------

.supportingPartners{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/partners/bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw !important;
  height: 75vh !important;
  background-color: #202f3f;
}

// --------------Roadmap----------------

.roadmap{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/roadmap/roadmap_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw !important;
  height: 100vh !important;
  background-color: #202f3f;
}

// --------------About----------------

.about{
  //background-image: url(../assets/aboutUs/roadmap_bg.png);
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: contain;
  background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  max-width: 100vw !important;
  height: 75vh !important;
  background-color: #202f3f;
}